<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.collection_select(:survey_id, Survey.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= f.label :question_group %><br>
    <%= f.collection_select(:question_group_id, QuestionGroup.all, :id, :content, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :answer_type %><br>
    <%= f.select :answer_type, Question::ANSWER_TYPES, {prompt: true} %>
  </div>

  <div class="field">
    <%= f.label :min_value %><br>
    <%= f.number_field :min_value %>
  </div>

  <div class="field">
    <%= f.label :max_value %><br>
    <%= f.number_field :max_value %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
