<%= bootstrap_form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.number_field :number %>

  <%= f.collection_select(:survey_id, Survey.all, :id, :name, prompt: true) %>

  <%= f.collection_select(:question_group_id, QuestionGroup.all, :id, :content, prompt: true) %>

  <%= f.text_area :content %>
  <%= f.text_area :note %>

  <%= f.select :answer_type, Question::ANSWER_TYPES, {prompt: true} %>

  <%= f.number_field :min_value %>

  <%= f.number_field :max_value %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
