<p id="notice"><%= notice %></p>

<h1>Listing Question Responses</h1>


<div class="row">
  <div class="col-sm-6">
    <%= render 'filter_form' %>
  </div>
  <div class="col-sm-6">
    <% if @bar_chart_data %>
      <%= bar_chart @bar_chart_data %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Survey</th>
          <th>Participant</th>
          <th>Crisis</th>
          <th>Question</th>
          <th>Answer</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @question_responses.each do |question_response| %>
          <tr>
            <td><%= question_response.survey_response.survey.name %></td>
            <td><%= question_response.survey_response.participant_type %></td>
            <td><%= question_response.survey_response.crisis.label %></td>
            <td><%= question_response.question.content %></td>
            <td><%= question_response.answer %></td>
            <td><%= link_to 'Show', question_response %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Question response', new_question_response_path %>
  </div>
</div>