<p id="notice"><%= notice %></p>

<h1>Listing Question Responses</h1>

<table>
  <thead>
    <tr>
      <th>Survey response</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Answer Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_responses.each do |question_response| %>
      <tr>
        <td><%= question_response.survey_response %></td>
        <td><%= question_response.question %></td>
        <td><%= question_response.answer %></td>
        <td><%= question_response.answer_type %></td>
        <td><%= link_to 'Show', question_response %></td>
        <td><%= link_to 'Edit', edit_question_response_path(question_response) %></td>
        <td><%= link_to 'Destroy', question_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question response', new_question_response_path %>
