<h1>Listing Question Responses</h1>

<div class="row">
  <div class="col-sm-12">
    <%= link_to "Download CSV", {format:'csv', params: request.query_parameters } %>

    <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="collapseExample">
      Filters
    </a>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="collapse" id="filters">
      <br>
      <div class="well">
        <%= render 'filter_form' %>
      </div>
    </div>
  </div>
</div>


<% if @answers_bar_charts %>
  <%= render 'answers_bar_charts' %>
<% end %>


<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Survey</th>
          <th>Participant</th>
          <th>Crisis</th>
          <th>Response Date</th>
          <th>Question</th>
          <th>Answer</th>
        </tr>
      </thead>

      <tbody>
        <% @question_responses.each do |question_response| %>
          <tr>
            <td><%= question_response.survey_response.survey.name %></td>
            <td><%= question_response.survey_response.participant_type %></td>
            <td><%= question_response.survey_response.crisis.label %></td>
            <td><%= question_response.survey_response.date %></td>
            <td><%= question_response.question.content %></td>
            <td><%= question_response.answer %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>

